<div class='container'>
  <h3>Team Account</h3>
  <div class='row col-lg-12 m-0 p-0'>
    <table class="table">
      <tbody>
        <tr>
          <th>Account Number</th>
          <td><%= @team_account.account_number %></td>
        </tr>
        <tr>
          <th>Team Name</th>
          <td><%= @team_account.team_name %></td>
        </tr>
        <tr>
          <th>Current Balance</th>
          <td><%= @team_account.balance %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to 'Show all', team_accounts_path, class: 'btn btn-primary'%>
  <%= link_to 'Transaction History', transactions_path(account_id: @team_account.id), class: 'btn btn-primary' %>
  <%= link_to 'Request Transaction', new_transaction_path(sender_id: @team_account.id), class: 'btn btn-outline-primary'%>
</div>